.template-button .p-button {
    margin-right: 0.5rem;
    padding: 0%;
    margin-bottom: 0.5rem;
}
.template-button .p-buttonset .p-button {
    margin-right: 0;
}
.template-button .p-button i {
    line-height: 2.25rem;
}

.template-button .p-button span {
    padding-left: 1rem;
    padding-right: 1rem;
}
.template-button .p-button.google {
    background: linear-gradient(to left, var(--purple-600) 50%, var(--purple-700) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
    color: #fff;
    border-color: var(--purple-700);
}
.template-button .p-button.google:hover {
    background-position: left bottom;
}
.template-button .p-button.google i {
    background-color: var(--purple-700);
}
.template-button .p-button.google:focus {
    box-shadow: 0 0 0 1px var(--purple-400);
}
.template-button .p-button.youtube {
    background: linear-gradient(to left, var(--pink-600) 50%, var(--pink-700) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
    color: #fff;
    border-color: var(--pink-700);
}
.template-button .p-button.youtube:hover {
    background-position: left bottom;
}
.template-button .p-button.youtube i {
    background-color: var(--pink-700);
}
.template-button .p-button.youtube:focus {
    box-shadow: 0 0 0 1px var(--pink-400);
}
.template-button .p-button.vimeo {
    background: linear-gradient(to left, var(--green-200) 50%, var(--green-300) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
    color: #000;
    border-color: var(--green-300);
}
.template-button .p-button.vimeo:hover {
    background-position: left bottom;
}
.template-button .p-button.vimeo i {
    background-color: var(--green-300);
}
.template-button .p-button.vimeo:focus {
    box-shadow: 0 0 0 1px var(--green-400);
}
.template-button .p-button.facebook {
    background: linear-gradient(to left, var(--indigo-600) 50%, var(--indigo-700) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
    color: #fff;
    border-color: var(--indigo-700);
}
.template-button .p-button.facebook:hover {
    background-position: left bottom;
}
.template-button .p-button.facebook i {
    background-color: var(--indigo-700);
}
.template-button .p-button.facebook:focus {
    box-shadow: 0 0 0 1px var(--indigo-400);
}
.template-button .p-button.twitter {
    background: linear-gradient(to left, var(--blue-400) 50%, var(--blue-500) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
    color: #fff;
    border-color: var(--blue-500);
}
.template-button .p-button.twitter:hover {
    background-position: left bottom;
}
.template-button .p-button.twitter i {
    background-color: var(--blue-500);
}
.template-button .p-button.twitter:focus {
    box-shadow: 0 0 0 1px var(--blue-200);
}
.template-button .p-button.slack {
    background: linear-gradient(to left, var(--orange-400) 50%, var(--orange-500) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
    color: #fff;
    border-color: var(--orange-500);
}
.template-button .p-button.slack:hover {
    background-position: left bottom;
}
.template-button .p-button.slack i {
    background-color: var(--orange-500);
}
.template-button .p-button.slack:focus {
    box-shadow: 0 0 0 1px var(--orange-200);
}
.template-button .p-button.amazon {
    background: linear-gradient(to left, var(--yellow-400) 50%, var(--yellow-500) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
    color: #000;
    border-color: var(--yellow-500);
}
.template-button .p-button.amazon:hover {
    background-position: left bottom;
}
.template-button .p-button.amazon i {
    background-color: var(--yellow-500);
}
.template-button .p-button.amazon:focus {
    box-shadow: 0 0 0 1px var(--yellow-200);
}
.template-button .p-button.discord {
    background: linear-gradient(to left, var(--bluegray-700) 50%, var(--bluegray-800) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
    color: #fff;
    border-color: var(--bluegray-800);
}
.template-button .p-button.discord:hover {
    background-position: left bottom;
}
.template-button .p-button.discord i {
    background-color: var(--bluegray-800);
}
.template-button .p-button.discord:focus {
    box-shadow: 0 0 0 1px var(--bluegray-500);
}
@media screen and (max-width: 960px) {
   -button .p-button {
        margin-bottom: 0.5rem;
    }
   -button .p-button:not(.p-button-icon-only) {
        display: flex;
        flex-wrap: wrap;
 
    }
   -button .p-buttonset .p-button {
        margin-bottom: 0;
    }
}